.carousel_box {
    width: 90%;
    padding-left: 5%;
    margin-top: 70px;
    height: 425px;
}

.section_box {
    width: 90%;
    padding-left: 5%;
}

.section_category_fixed {
    position: fixed;
    background-color: #fff;
    z-index: 999;
    top: 70px;
}

.section_title_list {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
    overflow: hidden;
}

.section_title_list > li {
    float: left;
    list-style: none;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    padding: 0 20px;
    height: 30px;
    margin: 10px 20px;
    line-height: 30px;
    cursor: pointer;
}

.section_title_list > li:hover {
    background-color: #b33331;;
    color: #fff;
}

.section_news_list > li {
    list-style: none;
    float: left;
}

.section_news_img {
    width: 100%;
    height: 270px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: scale(1);
}
.section_news_title{
    color: #222;
    font-weight: bold;
    font-size: 16px;
}
.section_news_title:hover{
    color: #ff5f12;
    text-decoration: none;
}
.section_news_date{
    font-size: 14px;
}
/*style="transition: all 0.3s ease-in-out 0s; transform-style: preserve-3d; backface-visibility: hidden; transform: scale(1);*/